<!DOCTYPE html>
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="robots" content="noindex,nofollow">
   <title>FRezka</title>
   <link rel="manifest" href="">
   <link rel="icon" href="" type="image/png">
   <link rel="shortcut icon" href="" type="image/png">
   <link rel="apple-touch-icon" href="">
   <link rel="apple-touch-icon" sizes="192x192" href="">
   <link rel="apple-touch-icon" sizes="512x512" href="">
   <meta name="title" content="FRezka">
   <meta name="description" content="">
   <meta name="format-detection" content="telephone=no">
   <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css">
   <link rel="stylesheet" href="/static/css/styles.css?v=1.2">
   {% block extrastyle %}{% endblock %}
</head>
<body>
   {% block content %}{% endblock %}
   <div id="messagesContainer" aria-live="polite" aria-atomic="true" class="toast-notification"></div>
   <div id="modalPlace"></div>
   <script src="/static/js/vendor/bootstrap.bundle.min.js"></script>
   <script src="/static/js/vendor/jquery-3.7.1.min.js"></script>
   <script src="/static/js/vendor/js.cookie.min.js"></script>
   <script src="/static/js/scripts.js?v=1.2"></script>
   <script src="/static/js/user.js?v=1.2"></script>
   {% block extrajs %}{% endblock %}
</body>
</html>