{% extends 'base.html' %}
{% block content %}
   <div class="container-fluid">
      <section id="movies-bg" class="py-5 px-lg-5">
         <div class="container position-relative">
            {% include 'includes/header.html' %}
            <div class="text-center mt-5">
               <div class="px-2 px-md-5 mx-lg-5 mb-3">
                  <h1>Любимые фильмы и сериалы</h1>
               </div>
               <div class="row justify-content-center">
                  <div class="col-11 col-sm-10 col-md-8 col-lg-7 col-xl-6 my-4">
                     {% include 'includes/search_form.html' %}
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
   <div class="container my-4 my-sm-5">
      <div id="recentWatchedContainer" class="d-none mb-4 mb-lg-0">
         <h1><span style="color: #F3A623;">Продолжить
            <span class="swap-icons">
               <i class="fa-solid fa-pause initial-icon mx-2" style="width: 1.5rem"></i>
               <i class="fa-solid fa-play hover-icon mx-2" style="width: 1.5rem"></i>
            </span>
         </span>просмотр</h1>
         <div id="recentWatched" class="py-4 py-lg-5 px-lg-5"></div>
      </div>
      <div>
         <h1><span style="color: #F3A623;">Новые</span> фильмы · сериалы · аниме</h1>
         <div id="latestRezka" class="py-3 py-lg-5 px-lg-5">
            <div class="text-center">
               <h1><i class="fa-solid fa-compact-disc fa-spin"></i></h1>
            </div>
         </div>
      </div>
   </div>
{% endblock %}
{% block extrajs %}
	<script src="/static/js/index.js?v=1.2"></script>
{% endblock %}