{% extends 'base.html' %}
{% block content %}
   <div class="container-fluid">
      <section id="movies-bg" class="p-5">
         <div class="position-relative">
            <header class="d-flex justify-content-between">
               {% include 'includes/logo.html' %}
               <a class="btn btn-funky-g align-self-start"><i class="fa-solid fa-user-large"></i></a>
            </header>
         </div>
         <div class="position-relative text-center mt-5">
            <div class="text-bold mx-5 px-5">
               <h1>Любимые фильмы и сериалы</h1>
               <p>Без рекламы, без трекеров, с кайфом</p>
            </div>
            <div class="row justify-content-center">
               <div class="col-12 col-lg-6 my-4">
                  {% include 'includes/search.html' %}
               </div>
            </div>
         </div>
      </section>
   </div>
{% endblock %}